<h1>Welcome!</h1>
<h3>Let's add books!</h3>

<ul>
	<li><%= link_to "Books", books_path %></li>
	<li><%= link_to "Genres", genres_path %></li>
	<li><%= link_to "Kinds", kinds_path %></li>
	<li><%= link_to "Publishings", publishings_path %></li>
</ul>

<h3>Thanks to use our system!</h3>